<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <a href="/skills/<%= skill.id %>"><%= skill.level %></a>
          <%= skill.language %>
            - 
          <%= skill.level %>
        </li>
      <% }); %>
    </ul>
</body>
</html>